/*ALL PAGES*/

body {
    background: linear-gradient(to top, black, #330466) no-repeat;
    font-family: 'Vollkorn', serif;
    min-height: 100vh;
    color: beige;
    padding: 0 10px;
}
body.light-theme {
    background: white;
    color: black;
}
.theme-button {
    color: white;
    height: 30px;
    width: 20px;
}
.light-theme-button {
    background-color: white;
    border: solid 1px black;
    border-radius: 50% 0 0 50%;
}
.dark-theme-button {
    background-color: black;
    border: none;
    border-radius: 0 50% 50% 0;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}
.logo {
    width: 100px;
    cursor: pointer;
    transition: all 0.5s ease;
}
.light-theme .logo:hover {
    filter: drop-shadow(2px 4px 6px black);
}
.logo:hover {
    transform: rotate(360deg);
    filter: invert()
}
.starwars-header-pic {
    max-height: 150px;
}
.header-buttons {
    display: flex;
    gap: 20px;
    align-items: center;
}
.language-button-image {
    height: 20px;
    width: 30px;
}
.language-button {
    background: none;
    border: none;
}

/*MAIN PAGE*/
.display-modes {
    display: flex;
    padding: 10px 20px;
    justify-content: space-between;
}
.sorting {
    display: flex;
    gap: 10px;
    align-items: center;
}
.selection-bar {
    background-color: black;
    color: beige;
    border: none;
    padding: 5px;
    border-radius: 10px;
}
.light-theme .selection-bar {
    background-color: white;
    color: black;
    border: solid 2px black;
}

.main-content-container {
    max-width: 1000px;
    margin: 0 auto;
}
.movies-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
a.episode-link:active,
a.episode-link:hover,
a.episode-link,
a.character-link:active,
a.character-link:hover,
a.character-link {
  text-decoration: none;
  color: beige;
}
.movie-item {
    padding: 20px;
}
.movie-item:hover {
    background: #0f1630a2;
    border-radius: 10px;
    cursor: pointer;
}
.movie-details {
    white-space: pre-line;
}

.light-theme .episode-link {
    color: black;
}
.light-theme .episode-link:hover {
    color: black;
}
.light-theme .movie-item:hover {
    background: antiquewhite;
}
.movie-poster {
    max-width: 400px;
    min-width: 250px;
    border-radius: 10px;
    padding-bottom: 10px;
}
.movie-poster:hover {
    transform: scale(1.05);
    transition: transform 0.5s;
}
.display-options {
    display: flex;
    gap: 10px;
}
.list-view {
    justify-content: flex-start;
    flex-direction: column;
    align-content: baseline;    
}
.list-view .episode-link {
    display: flex;
    width: 90vw;
    align-items: center;
    gap: 30px;
}
.list-view .movie-poster {
    width: 10%;
}

.list-view-button {
    background: url('../images/list.svg');
}
.grid-view-button {
    background: url('../images/grid.svg');
}
.list-view-button,
.grid-view-button {
    background-size: contain;
    width: 25px;
    height: 25px;
    border: none;
    color: white;
}
button:hover {
    cursor: pointer;
    opacity: 0.5;
}

.next-episode-timer {
    text-align: center;
    padding: 20px;
}
.next-episode-name,
.timer-items {
    font-size: 40px;
}
.next-episode-add-data {
    font-size: 25px;
    padding: 20px 0;
}
.timer .timer-item-units {
    font-size: 20px;
}
.timer-items {
    display: flex;
    justify-content: center;
    gap: 50px;
}

/*EPISODE PAGE*/

.characters-heading {
    font-weight: 800;
    text-transform: uppercase;
    text-decoration: underline;
    padding: 40px;
}
.episode-container {
    display: flex;
    padding: 20px;
    gap: 30px;
}
.episode-description {
    display: flex;
    gap: 20px;
    align-items: center;
}
.episode-poster {
    max-width: 400px;
    border-radius: 25px;
}
.episode-details {
    display: flex;
    gap: 20px;
    flex-direction: column;
}
.episode-details .episode-no {
    font-weight: bold;
    font-size: 20px;
}
.episode-details .episode-name {
    font-weight: bold;
    font-size: 30px;
}
.episode-details .episode-producers,
.episode-details .episode-director {
    font-style: italic;
}
.episode-details .episode-description {
    line-height: 30px;
    font-style: italic;
    font-size: 20px;
}
.characters {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: space-around;
}
.character-link {
    display: flex;
    gap: 20px;
}
.character-item {
    background: #0000004d;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
}
.light-theme .character-item {
    background-color: antiquewhite;
}
.character-item:hover {
    cursor: pointer;
    box-shadow: inset 0 0 30px 3px #ffff0080;
    opacity: 0.8;
    transform: scale(1.1);
}
.character-name {
    padding-bottom: 20px;
    font-size: 24px;
    color: yellow;
    text-shadow: 1px 1px 5px black;
}
.character-image {
    max-width: 200px;
    height: fit-content;
}
.character-details {
    line-height: 30px;
    text-transform: capitalize;
}
.light-theme .character-details{
    color: black;
}
.spinner .character-item {
    display: none;
}
.spinner {
    font-size: 10px;
    margin: 50px auto;
    text-indent: -9999em;
    width: 11em;
    height: 11em;
    border-radius: 50%;
    background: yellow;
    background: -moz-linear-gradient(left, yellow 10%, rgba(255, 255, 255, 0) 42%);
    background: -webkit-linear-gradient(left, yellow 10%, rgba(255, 255, 255, 0) 42%);
    background: -o-linear-gradient(left, yellow 10%, rgba(255, 255, 255, 0) 42%);
    background: -ms-linear-gradient(left, yellow 10%, rgba(255, 255, 255, 0) 42%);
    background: linear-gradient(to right, yellow 10%, rgba(255, 255, 255, 0) 42%);
    position: relative;
    -webkit-animation: load3 1.4s infinite linear;
    animation: load3 1.4s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
  }
  .spinner:before {
    width: 50%;
    height: 50%;
    background: rgb(255, 251, 0);
    border-radius: 100% 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
  }
  .spinner:after {
    background: black;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    content: '';
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  .light-theme .spinner:after {
    background: white;
  }
  @-webkit-keyframes load3 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes load3 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }


  /*CHARACTER PAGE*/

  .character-container {
    display: flex;
    gap: 20px;
  }
  .character-info {
    line-height: 30px;
  }
  
  .character-homeworld span{
    text-transform: capitalize;
  }
  .character-filmography {
    text-align: center;
  }
  .character-filmography-list {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .character-filmography-heading {
    padding: 40px 0;
    font-size: 20px;
    font-weight: bold;
  }
  .character-movie-link {
    text-decoration: none;
    color: beige;
    display: flex;
    gap: 20px;
  }
  .light-theme .character-movie-link {
    color: black;
  }
  .episode-item {
    background: #0000004d;
    padding: 20px;
    border-radius: 10px;
    width: 200px;
  }
  .episode-item:hover {
    box-shadow: inset 0 0 30px 3px #ffff0080;
  }
  .light-theme .episode-item {
    background-color: antiquewhite;
  }
  .character-movie-image {
    height: 100px;
  }
  
  @media only all and (max-width: 768px) {
    .starwars-header-pic {
        display: none;
    }
    .timer-items {
        gap: 20px;
    }
    .movie-poster {
        width: 300px;
    }
    .episode-container {
        flex-direction: column;
    }
  }